body {
  /* background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  ); */
}
h1 {
  margin-bottom: 20px;
}
.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #3295eb !important;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.field {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  font-weight: 500;
}
.button {
  display: flex !important;
  justify-content: center;
  justify-self: center;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.error {
  color: red;
  margin-bottom: 10px;
}
hr {
  margin-bottom: 20px;
}
.sucess {
  color: green;
}

.forgotpass {
  text-align: right;
}
.loginsign {
  text-align: center;
}
.book {
  height: auto;
  display: block;
  margin-right: auto;
}
.book-detail {
  object-position: top;
  display: inline;
  padding-left: 100px;
  vertical-align: 70px;
}
/* .book-detail {
  display: inline;
  font-size: 20px;
  vertical-align: 100px;
  padding-left: 500px;
} */
.book-header {
  font-size: 35px;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.productimg:hover {
  transform: scale(1.1);
}

.cartbody table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.cartbody table thead {
  font-weight: 700;
}

.cartbody table thead td {
  background: rgb(238, 99, 35);
  color: white;
  border: none;
}
